## Data preprocessing

In [52]:
import pandas as pd
import numpy as np

In [53]:
dataset = pd.read_csv("Gender_Height_Weight_Data.csv") ##change to your own path
dataset.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [54]:
from sklearn.preprocessing import StandardScaler, LabelEncoder
gender = LabelEncoder()
dataset['Gender'] = gender.fit_transform(dataset['Gender'])

In [55]:
dataset.columns

Index(['Gender', 'Height', 'Weight', 'Index'], dtype='object')

In [56]:
dataset

     Gender  Height  Weight  Index
0         1     174      96      4
1         1     189      87      2
2         0     185     110      4
3         0     195     104      3
4         1     149      61      3
..      ...     ...     ...    ...
495       0     150     153      5
496       0     184     121      4
497       0     141     136      5
498       1     150      95      5
499       1     173     131      5

[500 rows x 4 columns]

In [57]:
bins = (-1,0,1,2,3,4,5)
Physcal = ['Malnourished', 'Underweight', 'Healthy Weight', 'Slightly Overweight', 'Overweight', 'Obese']
dataset['Index'] = pd.cut(dataset['Index'], bins = bins, labels = Physcal)
dataset['Index'].value_counts()

Obese                  198
Overweight             130
Healthy Weight          69
Slightly Overweight     68
Underweight             22
Malnourished            13
Name: Index, dtype: int64

In [58]:
dataset

     Gender  Height  Weight                Index
0         1     174      96           Overweight
1         1     189      87       Healthy Weight
2         0     185     110           Overweight
3         0     195     104  Slightly Overweight
4         1     149      61  Slightly Overweight
..      ...     ...     ...                  ...
495       0     150     153                Obese
496       0     184     121           Overweight
497       0     141     136                Obese
498       1     150      95                Obese
499       1     173     131                Obese

[500 rows x 4 columns]

In [59]:
dataset['Index'].value_counts()

Obese                  198
Overweight             130
Healthy Weight          69
Slightly Overweight     68
Underweight             22
Malnourished            13
Name: Index, dtype: int64

## Training

In [71]:
from sklearn import svm
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
from sklearn.model_selection import train_test_split

In [72]:
X = dataset.drop('Index', axis =1)
y = dataset['Index']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [73]:
standard = StandardScaler()
X_train = standard.fit_transform(X_train)
X_test = standard.transform(X_test)

In [74]:
clf = svm.SVC()
clf.fit(X_train, y_train)
pred = clf.predict(X_test)

In [75]:
print(classification_report(y_test,pred))

                     precision    recall  f1-score   support

     Healthy Weight       0.73      0.80      0.76        10
       Malnourished       0.00      0.00      0.00         3
              Obese       0.88      0.97      0.92        36
         Overweight       0.96      0.78      0.86        32
Slightly Overweight       0.78      0.93      0.85        15
        Underweight       0.60      0.75      0.67         4

           accuracy                           0.85       100
          macro avg       0.66      0.71      0.68       100
       weighted avg       0.84      0.85      0.84       100

D:\learning\Python\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [76]:
print(accuracy_score(y_test, pred))

0.85

## Testing

In [95]:
Test = [[1,175,65]]
Test = standard.transform(Test)
Physical_predict = clf.predict(Test)

In [96]:
Physical_predict

array(['Healthy Weight'], dtype=object)

In [101]:
Test = [[0,141,136]]
Test = standard.transform(Test)
Physical_predict = clf.predict(Test)

In [102]:
Physical_predict

array(['Obese'], dtype=object)

In [111]:
Test = [[0,198,50]]
Test = standard.transform(Test)
Physical_predict = clf.predict(Test)

In [112]:
Physical_predict

array(['Underweight'], dtype=object)